/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.
*/

@keyframes header-menu {
    from {
        transform: translateX(-5px);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes is-scale {
    from {
        scale: 1;
    }

    to {
        scale: 1.15;
    }
}

@keyframes is-visible {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.like-icon .main,
.like-icon .core {
    fill: transparent;
}

.like-icon .contour {
    fill: var(--main-color);
}

.like-icon .sparks {
    opacity: 0;
    fill: var(--like-color);
}

.like-icon:hover .core {
    fill: var(--main-color);
    transition: fill .3s .03s linear;
}

.like-icon:hover .main {
    fill: var(--main-color);
    transition: fill .3s .05s linear;
}

.like-icon.is-liked {
    animation: is-scale 1 .3s .1s ease-in alternate;
    transform-origin: center;
}

.like-icon.is-liked .main,
.like-icon.is-liked .contour,
.like-icon.is-liked .core {
    fill: var(--like-color);
}

.like-icon.is-liked .sparks {
    animation: is-visible 1 .3s .3s ease-in alternate;
}

.like-icon:active .main,
.like-icon:active .core {
    fill: var(--like-color);
}
